
.quizContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-items: center;
    
}
.alternativesContainer {
    display: flex;
    align-content: flex-end;
    flex-direction: row;
}

.alternativesBox {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.alternativesBox img {

    width: 20vh;
    height: auto;
}

.alternativesBox p {
    margin-top: 10px;
}


.questionBox {
    text-align: center;
}
